﻿@model Back_End_GYM.Models.Utente

@{ Layout = "_Layout";

   ViewBag.Title = "Registrazione avvenuta con successo!"; 
 
 }
<div class="row">
    <div class="col"></div>
    <div class="col text-center .btn ">
        <h2>Registrazione avvenuta con successo!</h2>
        <h4>Premi ok per tornare alla home</h4>
        <a class="btn btn-primary" asp-controller="Utente" asp-action="Login">Ok</a>
    </div>
    <div class="col"></div>
</div>