#sfodo {
    background-image: url(https://postimg.cc/zy4qTYGs);
  }

  /* colore barra tabella */
  th {
    background-color: blue;
    color: white;
} 

/* centro dati sulla navbar */
.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}