﻿<!doctype html>
<html lang="en">
<head>
    <title>Product View</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    
    <style>
        .card {
            padding: 5%;
            margin: 5%;
        }

        :root {
            --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
        }

        .card {
            background: #222;
            border: 1px solid #dd2476;
            color: rgba(250, 250, 250, 0.8);
            margin-bottom: 2rem;
        }

        .btn {
            border: 5px solid;
            border-image-slice: 1;
            background: var(--gradient) !important;
            -webkit-background-clip: text !important;
            -webkit-text-fill-color: transparent !important;
            border-image-source: var(--gradient) !important;
            text-decoration: none;
            transition: all .4s ease;
        }

            .btn:hover,
            .btn:focus {
                background: var(--gradient) !important;
                -webkit-background-clip: none !important;
                -webkit-text-fill-color: #fff !important;
                border: 5px solid #fff !important;
                box-shadow: #222 1px 0 10px;
                text-decoration: underline;
            }
    </style>

    <!-- Navbar Logo -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div class="container">
            <a class="navbar-brand me-2" href="/Utente/Login">
                <img src="https://i.postimg.cc/pXjZQQ6k/kisspng-logo-product-font-brand-clip-art-5bfd4e1b9235e9-0261388415433272595989.png"
                     height="160"
                     alt="Pa"
                     loading="lazy"
                     style="margin-left: -1px;" />
            </a>
            <a href="/Utente/Courses" class="btn mr-2"><i class="fas fa-link"></i> Visualizza Corsi</a>
            <a href="/Utente/MyCourses" class="btn mr-2"><i class="fas fa-link"></i> I Miei Corsi</a>

        </div>
    </nav>

  <body>
    <div class="container" style="margin-top: 100px;">
    @RenderBody()
    </div>
  </body>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="~/js/script.js"></script>
</body>
</html>