@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

html,
/* Sfondo programma */
body {
    height: 100%
}

* {
    padding: 0px;
    margin: 0px
}

body {
    background-color: #191f35;
    display: grid;
    place-items: center
}

.card {
    background-color: #4c76a7;
    border-radius: 10px;
    font-family: 'Manrope', sans-serif
}


/* SCRITTA SOPRA CASELLA TESTO */
h2,
form {
    color: #000000;
    
}

.form-control {
    background-color: #525252;
    border: 1px solid #545454
}

.form-control:focus {
    color: #495057;
    background-color: #29292b;
    border: 0px;
    outline: 0
}

.btn {
    background-color: #b7c2f1;
    border-radius: 4px;
    border: 0px
}

.btn:focus,
.btn:hover {
    background-color: #6d84ea;
    border: 0px;
    outline: none;
    box-shadow: none
}

*:focus {
    outline: none
}

.text-white {
    font-family: 'Lobster', cursive;
    ;
  }

  .force-overflow {
    min-height: 600px;
  }


