﻿@model List<Back_End_GYM.Models.Corso>
@{ Layout = "_Layout"; 
}

<table class="table borders rounded table-striped table-hover">
    <thead class="thead-dark">
    <th>Titolo</th>
    <th >Descrizione</th>
    <th>Codice</th>
    <th>Data</th>
    <th>Ora</th>
    <th></th>
    </thead>
    <tbody>
        @foreach (var item in Model) {
<tr>
    <td>@item.Titolo</td>
    <td>@item.Descrizione</td>
    <td>@item.Codice</td>
    <td>@item.DataOra.ToLongDateString()</td>
    <td>@item.DataOra.ToShortTimeString()</td>
    <td><a class="btn btn-info" asp-controller="Utente" asp-action="IscrizioneCorso" asp-route-codice="@item.Codice">Iscrivimi</a></td>
</tr>}
    </tbody>
</table>

@*<div class="alert alert-success" role="alert">
        This is a success alert—check it out!
    </div>*@