﻿@model Back_End_GYM.Models.Utente

@{ Layout = "_Layout";
   ViewBag.Title = "Login"; }

<!-- CSS -->
<div class="container-fluid">
    <style>
        body {
            background-color: #282828;
        }


        .container {
            background-color: white;
            padding: 50px;
        }

        #title {
            font-family: 'Lobster', cursive;
            ;
        }
    </style>

    <!-- Form Login -->


    <h2 class="text-center" id="title">Modulo di Accesso</h2>
    <div class="col-md-5">
        <form asp-controller="Utente" asp-action="LoginCheck" method="post" class="form-group">
            <fieldset>
                <div class="form-group">
                    <label asp-for="Email">Email</label>
                    <input type="text" asp-for="Email" id="logEmail" class="form-control" placeholder="Email" />
                    <label asp-for="Password" class="mt-1">Password</label>
                    <input type="password" asp-for="Password" id="logPassword" class="form-control" placeholder="Password" />
                    <button type="submit" class="btn btn-dark mt-2">LogIn</button>
                </div>
                <small>Non hai un'account? <a href="/Utente/SignUp">Registrati!</a></small>
            </fieldset>
        </form>
    </div>
   
