﻿@model Back_End_GYM.Models.Utente

@{ Layout = "_Layout"; }

<!-- CSS -->
<div class="container-fluid">
    <style>
        body {
            background-color: #282828;
        }

        .container {
            background-color: white;
            padding: 50px;
        }

        #title {
            font-family: 'Lobster', cursive;
            ;
        }
    </style>

    <!-- Form Sing-Up -->

        <h2 class="text-center" id="title">Modulo Registrazione</h2>
        <hr>
        <div class="row">
            <div class="col-md-5">
                <form role="form" asp-controller="Utente" asp-action="SignUpCheck" method="post">
                    <fieldset>
                        <p class="text-uppercase pull-center"> Registrati:</p>
                        NOME 
                        <div class="form-group">
                            <input type="text" asp-for="Nome" id="inNome" class="form-control" placeholder="Inserisci Nome">
                        </div>
                        COGNOME
                        <div class="form-group">
                            <input type="text" asp-for="Cognome" id="inCognome" class="form-control " placeholder="Inserisci Cognome">
                        </div>
                        INDIRIZZO
                        <div class="form-group">
                            <input type="text" asp-for="Indirizzo" id="inIndirizzo" class="form-control " placeholder="Inserisci il tuo indirizzo">
                        </div>
                        E-MAIL 
                        <div class="form-group">
                            <input asp-for="Email" id="inEmail" class="form-control input-lg" placeholder="Email">
                        </div>
                        DATA NASCITA 
                        <div class="form-group">
                            <input type="date" asp-for="DataNascita" id="inData" class="form-control " placeholder="Data Di Nascita">
                        </div>

                        <div class="form-group">
                            <input asp-for="Password" type="password" id="inPassword" class="form-control " placeholder="Inserisci Password">
                        </div>

                        <div>
                            <input type="submit" class="btn btn-lg btn-primary" value="Register">
                        </div>

                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                                By Clicking register you're agree to our policy & terms
                            </label>
                        </div>


                    </fieldset>
                </form>
            </div>
        </div>
 