﻿<!doctype html>
<html lang="en">
<head>
    <title>Product View</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/graf.css">
</head>
<body>

    <!-- Navbar Logo -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div class="container">
            <a class="navbar-brand me-2" href="Login.cshtml">
                <img src="https://i.postimg.cc/mgFv5fLF/Uci-logo.png"
                     height="140"
                     alt="Pa"
                     loading="lazy"
                     style="margin-left: -1px;" />
            </a>
        </div>
    </nav>

    <!-- Tabella con corsi -->
    <div class="container mx-auto mt-4">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://i.postimg.cc/PJZ7Fd43/pulp-fiction-poster.jpg"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Pulp Fiction</h3>
                        <h5 class="card-subtitle mb-2 text-muted">  Martedí 18 </h5>
                        <p class="card-text"></p>
                        <a href="Login.html" class="btn mr-2"><i class="fas fa-link"></i> Prenota</a>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card" id="Film1" style="width: 18rem;">
                    <img src="https://i.postimg.cc/13MjdCGQ/Once-upon-a-time-in-Hollywood.jpg"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h class="card-title">C'era una volta... a Hollywood </h>
                        <h5 class="card-subtitle mb-2 text-muted"> Sabato 22 </h5>
                        <p class="card-text"></p>
                        <a href="Login.html" class="btn  mr-2"><i class="fas fa-link"></i> Prenota</a>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://i.postimg.cc/Y01XzbrT/bastardi-senza-gloria-poster-locandina.jpg"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2 class="card-title">Bastardi Senza Gloria</h2>
                        <h5 class="card-subtitle mb-2 text-muted"> venerdi 9 </h5>
                        <p class="card-text"></p>
                        <a href="Login.html" class="btn mr-2"><i class="fas fa-link"></i> Prenota</a>
                    </div>
                </div>
            </div>



            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>