﻿@model Uni_Cinema.Models.Biglietto
@{
}

<!doctype html>
<html lang="en">
<head>
    <title>H_Iscrizione</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" href="images/icon.png" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
</head>
<body>

    <!-- CSS -->
    <div class="container-fluid">
        <style>
            body {
                background-color: rgba(0, 27, 85, 0.596);
            }

            .container-fluid {
                padding: 50px;
            }

            .container {
                background-color: white;
                padding: 50px;
            }

            #title {
                font-family: 'Lobster', cursive;
                ;
            }

            .navbar {
                position: relative;
            }
        </style>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <div class="container d-flex justify-content-center">
                <a class="navbar-brand1 me-2" href="#">
                    <img src="https://i.postimg.cc/9QJ0WWXD/Uci-logo.png"
                         height="100" />
            </div>
        </nav>

        <!-- Form Login sing-Up -->

        <div class="container" style="margin-top: 100px;">
            <h2 class="text-center" id="title">Prenotazione Film </h2>
            <hr>
            <div class="row">
                <div class="col-md-5">
                    <form asp-controller="Biglietto" asp-action="SignUpCheck" method="post">
                        <fieldset>

                            <p class="text-uppercase pull-center"> Inserisci Dati prenotazione:</p>
                            <div class="form-group">

                                <input asp-for="Nome" id="inNome" class="form-control input-lg" placeholder="Inserisci il tuo Nome">
                            </div>

                            <div class="form-group">
                                <input  asp-for="Cognome" id="inCognome" class="form-control input-lg" placeholder="Inserisci il tuo Cognome">
                            </div>

                            <div class="form-group">
                                <input asp-for="Email" id="inemail" class="form-control input-lg" placeholder="Inserisci la tua Email">
                            </div>

                            <div class="form-group">
                                <input asp-for="Quantitá" id="inQuant" class="form-control input-lg" placeholder="Inserisci la tua Email">
                            </div>


                            <div class="movie-container">
                                <label>Scegli il tuo film:</label>
                                <select id="movie">
                                    <option id="movie" value="1">Pulp Fiction </option>
                                    <option id="movie" value="2">C'era una volta... a Hollywood </option>
                                    <option id="movie" value="5">Bastardi Senza Gloria </option>
                                </select>
                            </div>


                            <!-- Pulsante per inviare la registrazione  -->
                            <input type="submit" class="btn btn-lg btn-primary" value="Prenota" style="margin-top: 40px;">

                            <!-- SAMPLE FINTO  -->
                            <div class="form-check" style="margin-top: 30px;">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input">
                                    By Clicking register you're agree to our policy & terms
                                </label>
                            </div>
                            <div>
                            </div>
                        </fieldset>
                    </form>
                </div>

                <div class="col-md-2">
                    <!-------null------>
                </div>

                <div class="col-md-5">
                    <form role="form">
                        <fieldset>
                            <p class="text-uppercase"> Film Selezionato : </p>
                            <div class="card bg-dark text-white">
                                <div class="container jt">
                                    <div class="screen "></div>
                                </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="js/Scrip.js"></script>
</body>
</html>