﻿@model Uni_Cinema.Models.Biglietto

@{ Layout = "_Index";

   ViewBag.Title = "Prenotazione avvenuta con successo!"; 
 
 }
<div class="row">
    <div class="col"></div>
    <div class="col text-center .btn">
        <h2>Prenotazione avvenuta con successo!</h2>
        <h4>Premi ok per tornare alla home</h4>
        <a class="btn btn-primary" asp-controller="Biglietto" asp-action="Index">Ok</a>
    </div>
    <div class="col"></div>
</div>