.card{ padding:5%;
    margin:5%;
        
    }

    :root {
        --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
      }
      
      body {
        background: #111 !important;
      }
      
      .card {
        background: #222;
        border: 1px solid #dd2476;
        color: rgba(250, 250, 250, 0.8);
        margin-bottom: 2rem;
      }
      
      .btn {
        border: 5px solid;
        border-image-slice: 1;
        background: var(--gradient) !important;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
        border-image-source:  var(--gradient) !important; 
        text-decoration: none;
        transition: all .4s ease;
      }
      
      .btn:hover, .btn:focus {
        background: var(--gradient) !important;
    -webkit-background-clip: none !important;
    -webkit-text-fill-color: #fff !important;
    border: 5px solid #fff !important; 
    box-shadow: #222 1px 0 10px;
    text-decoration: underline;
  }


  .ct {
    margin-bottom: 30px
  }
  
  
  .screen {
    height: 650px;
    width: 600px;
    margin: 15px 0;
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
  }

  .text-center,
  .row{
    font-family: Georgia, serif;
    color: white;
  }


      